<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Most recent
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <br>
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  <ion-card *ngFor="let item of getKeys(thumbs)">
    <ion-card-header>
      <ion-card-title>
        {{thumbs.get(item).title}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="thumbs.get(item).content"></div>
    </ion-card-content>
  </ion-card>
  <ion-button onclick="window.open('https://okbbbb.com', '_system', 'location=yes'); return false;">
    Read more
  </ion-button>
</ion-content>