<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <br>
  <ion-progress-bar *ngIf="searching" type="indeterminate"></ion-progress-bar>
  <ion-card>
    <ion-input [(ngModel)]="searchStr" autofocus="true" placeholder="Type & click search"></ion-input>
  </ion-card>
  <ion-button [disabled]="!searchStr || searching" (click)="search()" style="margin-top: 5px;padding-top: 5px;">
    Search<ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>
  <br>
  <ion-card *ngIf="loaded&&!getKeys(thumbs).length">😦😦</ion-card>
  <ion-card *ngFor="let item of getKeys(thumbs)">
    <ion-card-header>
      <ion-card-title>
        {{thumbs.get(item).title}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="thumbs.get(item).content"></div>
    </ion-card-content>
  </ion-card>
  <ion-button onclick="window.open('https://okbbbb.com', '_system', 'location=yes'); return false;">
    Website <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>
</ion-content>
